In [1]:
import yfinance as yf

In [2]:
df_base = yf.download('NVDA')

[*********************100%%**********************]  1 of 1 completed

In [3]:
import numpy as np

In [4]:
df = df_base.copy()
df = df.drop(columns='Close').rename(columns={'Adj Close': 'Close'})
df['T.Change'] = df['Close'].pct_change().shift(-1)
df = df.dropna()
df['T.Direction'] = np.where(df['T.Change'] > 0, 'UP', 'DOWN')
df = df.loc['2020':]
df

,Open,High,Low,Close,Volume,T.Change,T.Direction
Date,,,,,,,
2020-01-02,59.687500,59.977501,59.180000,59.741238,23753600,-0.016006,DOWN
2020-01-03,58.775002,59.457500,58.525002,58.785030,20538400,0.004193,UP
...,...,...,...,...,...,...,...
2024-05-07,910.979980,917.809998,823.250000,905.539978,43734200,-0.001568,DOWN
2024-05-08,894.830017,911.940002,894.200012,904.119995,32572100,-0.018416,DOWN

In [5]:
df.to_csv('output/c_vs_r.csv')