https://www.kaggle.com/datasets/samuelcortinhas/credit-card-approval-clean-data

In [19]:
import pandas as pd

df_base = pd.read_csv('input/clean_dataset.csv')
df_base.Age = df_base.Age.astype(int)
df_base

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688,1,17,0.205,1,1,ConsumerStaples,White,0.04,0,0,0,0,ByBirth,280,750,0
689,1,35,3.375,1,1,Energy,Black,8.29,0,0,0,1,ByBirth,0,0,0

In [20]:
df_base = df_base.query('Income < 100_000').copy()
df_base

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688,1,17,0.205,1,1,ConsumerStaples,White,0.04,0,0,0,0,ByBirth,280,750,0
689,1,35,3.375,1,1,Energy,Black,8.29,0,0,0,1,ByBirth,0,0,0

In [21]:
import numpy as np

In [22]:
df_base.Income = df_base.Income.apply(lambda x: np.log(x) if x > 0 else 0) * 100
df_base

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0.000000,1
1,0,58,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,632.793678,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688,1,17,0.205,1,1,ConsumerStaples,White,0.04,0,0,0,0,ByBirth,280,662.007321,0
689,1,35,3.375,1,1,Energy,Black,8.29,0,0,0,1,ByBirth,0,0.000000,0

In [23]:
df_base.columns

Index(['Gender', 'Age', 'Debt', 'Married', 'BankCustomer', 'Industry',
       'Ethnicity', 'YearsEmployed', 'PriorDefault', 'Employed', 'CreditScore',
       'DriversLicense', 'Citizen', 'ZipCode', 'Income', 'Approved'],
      dtype='object')

In [24]:
col_num = ['Gender', 'Age', 'Married', 'YearsEmployed', 'Income', 'Approved']

In [25]:
df = df_base[col_num].copy()

In [26]:
df.to_csv('output/simplified_features.csv', index=False)

In [27]:
col_cat = ['Industry', 'Ethnicity']

In [28]:
df_base[col_cat + col_num].replace({
    'Gender': {
        0: 'Female',
        1: 'Male'
    },
    'Married': {
        0: 'Other',
        1: 'Married'
    },
}).rename(columns={
    'Married': 'CivilStatus'
}).to_csv('output/simplified_features_cat.csv', index=False)

In [29]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

X = df.drop('Approved', axis=1)
y = df['Approved']

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [32]:
model.score(X_train, y_train)

0.9963702359346642

In [33]:
model.score(X_test, y_test)

0.6376811594202898

In [34]:
model = DecisionTreeClassifier(max_depth=3)
model.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [35]:
model.score(X_train, y_train)

0.7513611615245009

In [36]:
model.score(X_test, y_test)

0.6521739130434783